{% extends 'base.html' %}
{% block title %}Efectores Examenes{% endblock %}
{% block head %}Efectores Examenes{% endblock %}

{% block branding %}
    <h1>Efectores Imágenes</h1>
{% endblock %}
<br>
{% block content %}

    {% if modelados_imagenes %}


    <table border=3 cellpadding=3 width=100%>
        <tr>
            <th>Conceptos</th>
            <th>Descripciones</th>
            <th nowrap="nowrap">Areas</th>
            <th>Efectores</th>
        </tr>{% for item in modelados_imagenes %}
        <tr>
            <td rowspan={% if item.cas_area_set.all|length == 0 %}1{% else %}{{ item.cas_area_set.all|length }}{% endif %}>

                <a href="/modelador_light/admin/efectorescas/concepto/{{ item.id }}">{{ item.fsn }}</a>
            </td>

            <td rowspan={% if item.cas_area_set.all|length == 0 %}1{% else %}{{ item.cas_area_set.all|length }}{% endif %}>

            {% for desc in item.descripcion_set.all %} <li>{{ desc.termino }} </li>{% endfor %}
            </td>
            {% for area in item.conceptoscasporarea_set.all %}

                    <td>
                        {{ area.area }}
                    </td>


            <td>


                    {% for codarea in area.efector_codigoporarea_set.all %}
                        <li>[{{ codarea.efector.ExamCode }}] <a href="/modelador_light/admin/efectorescas/efector_codigoporarea/{{ codarea.id }}">{{ codarea.efector.ExamName }}</li></a>


            {% endfor %}
            </td>

        </tr>
        {% endfor %}
    {% endfor %}

    </table>




    <div class="pagination">
        {% if modelados_imagenes.has_previous %}
            <a href="?page={{ modelados_imagenes.previous_page_number }}">&#171 Anterior</a>
        {% endif %}
        {% for pg in modelados_imagenes.paginator.page_range %}
            {% if modelados_imagenes.number == pg %}
                <span class="active"><a href="?page={{ pg }}">{{ pg }}</a>|</span>
            {% else %}
                <span><a href="?page={{ pg }}">{{ pg }}</a> |</span>
            {% endif %}
        {% endfor %}
        {% if modelados_imagenes.has_next %}
            <span><a href="?page={{ modelados_imagenes.next_page_number }}">Siguiente &#187;</a></span>
        {% endif %}
    </div>

    {% else %}
        No hubo coincidencias!
    {% endif %}
{% endblock %}