<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Listado de Solicitudes</title>

    <style type="text/css">
        .pg-normal {
            color: black;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
        }
        .pg-selected {
            color: black;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }
        table

    </style>
</head>
<body>

{% extends "base.html" %}

{% block branding %}
    <h1>Efectores Imágenes</h1>
{% endblock %}

{% block content %}


    <table border=3 cellpadding=3 width=100%>
        <tr>
            <th>Conceptos</th>
            <th>Descripciones</th>
            <th>Areas</th>
            <th>Efectores</th>
        </tr>{% for item in modelados_imagenes %}
        <tr>
            <td rowspan={% if item.cas_area_set.all|length == 0 %}1{% else %}{{ item.cas_area_set.all|length }}{% endif %}>

                <a href="/modelador_light/admin/efectorescas/concepto/{{ item.id }}">{{ item.fsn }}</a>
            </td>

            <td rowspan={% if item.cas_area_set.all|length == 0 %}1{% else %}{{ item.cas_area_set.all|length }}{% endif %}>

            {% for desc in item.descripcion_set.all %} <li>{{ desc.termino }} </li>{% endfor %}
            </td>
            {% for bar in item.conceptoscasporarea_set.all %}

                    <td>
                        {{ bar.area }}
                    </td>


            <td>



                    {% for test in bar.efector_codigoporarea_set.all %}
                        <li>[{{ test.efector.ExamCode }}] <a href="/modelador_light/admin/efectorescas/efector_codigoporarea/{{ test.id }}">{{ test.efector.ExamName }}</li></a>
{#                    {% endfor %}#}
                {% endfor %}
            </td>

        </tr>
        {% endfor %}
    {% endfor %}
    </table>



    <div class="pagination">
        {% if modelados_imagenes.has_previous %}
            <a href="?page={{ modelados_imagenes.previous_page_number }}">&#171 Anterior</a>
        {% endif %}
        {% for pg in modelados_imagenes.paginator.page_range %}
            {% if modelados_imagenes.number == pg %}
                <span class="active"><a href="?page={{ pg }}">{{ pg }}</a>|</span>
            {% else %}
                <span><a href="?page={{ pg }}">{{ pg }}</a> |</span>
            {% endif %}
        {% endfor %}
        {% if modelados_imagenes.has_next %}
            <span><a href="?page={{ modelados_imagenes.next_page_number }}">Siguiente &#187;</a></span>
        {% endif %}
    </div>

{% endblock %}


</body>
</html>