{% extends "base.html" %}

{% block branding %}
{% endblock %}

{% block content %}


<h1>Casos</h1>

{#    <form id="search-form" method="get" action=".">#}
{#        <input type="text" name="FirstName">#}
{#        <input type="submit" value="Buscar" />#}
{#    </form>#}

<table border=3 cellpadding=3 width=100%>
    <tr>
        <td>
            Fecha de Adquisición
        </td>
        <td>
            Observación
        </td>
        <td>
            Etiquetas
        </td>
        <td>
            Dominio
        </td>
        <td>
            ¿Seguimiento?
        </td>
        <td>
            Institución
        </td>
        <td>
            MIRC
        </td>
        <td>
            Edición
        </td>
    </tr>
    {% for caso in object_list %}
{#        <li class="case">#}
{#            <a href="{{ caso.get_absolute_url }}">{{ caso }}</a>#}
{#            (<a href="{% url "case-edit" pk=caso.id %}">editar</a>)#}
{#        </li>#}
        <tr>
            <td>
                {{ caso.fechacaso }}
            </td>
            <td>
                <a href="{{ caso.get_absolute_url }}">{{ caso.observacion }}</a>
            </td>
            <td>
                {% for foo in caso.tagging.all %}
                    {{ foo.term }};
                {% endfor %}

            </td>

            <td>
                {{ caso.get_dominio_display }}
            </td>
            <td>
                {% if caso.seguimiento %}Si{% else %}No{% endif %}
            </td>
            <td>
                {{ caso.institucion }}
            </td>
            <td>
                {% if caso.url  %}  <a href="{{ caso.url }}" target="_blank">Link</a> {% else %}
                {% endif %}
            </td>
            <td>
                <a href="{% url "case-edit" pk=caso.id %}">editar</a>
            </td>
        </tr>
    {% endfor %}
</table>

<a href="{% url "case-new" %}">Agregar nuevo caso</a>
{% endblock %}