{% extends "base.html" %}
{% block branding %}
{% endblock %}

{% block content %}

    <table border=3 cellpadding=3 width=50%>
        <tr>
            <td>
                Fecha de Adquisición
            </td>
            <td>
                {{ caso.fechacaso }}
            </td>
        </tr>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                {{ caso.nombre }}
            </td>
        </tr>
        <tr>
            <td>
                Apellido paterno
            </td>
            <td>
                {{ caso.appaterno }}
            </td>
        </tr>
        <tr>
            <td>
                Apellido Materno
            </td>
            <td>
                {{ caso.apmaterno }}
            </td>
        </tr>
        <tr>
            <td>
                Institución
            </td>
            <td>
                {{ caso.get_institucion_display }}
            </td>
        </tr>
        <tr>
            <td>
                Dominio
            </td>
            <td>
                {{ caso.get_dominio_display }}
            </td>
        </tr>
        <tr>
            <td>
                Observacion
            </td>
            <td>
                {{ caso.observacion }}
            </td>
        </tr>
        <tr>
            <td>
                ¿Requiere seguimiento?
            </td>
            <td>
                {% if caso.seguimiento %}Si{% else %}No{% endif %}
            </td>
        </tr>
        <tr>
            <td>
                MIRC-CAS
            </td>
            <td>
                <a href="{{ caso.url }}" target="_blank">{{ caso.url }}</a>
            </td>
        </tr>

    </table>


{% endblock %}